@import "../../styles/variables.scss";

.background {
  width: 100%;
  background-image: url(../../assets//bg-img.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  h1 {
    color: $secondary;
    text-align: center;
    font-size: 101.25px;
    font-style: normal;
    font-weight: 900;
    line-height: 111.375px;

    @media (max-width: 600px) {
      font-size: 80px;
    }
  }
}
